/* ==========================================================================
   Шрифты PT Sans
   ========================================================================== */
@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/pts55f_w.eot');
    src: url('./fonts/pts55f_w.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pts55f_w.woff') format('woff'),
         url('./fonts/pts55f_w.ttf') format('truetype'),
         url('./fonts/pts55f_w.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}