// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ==========================================================================
   Переменные
   ========================================================================== */
$main-bg-color: #f4f4f4;
$wrapper-bg-color: #fff;
$layout-width: 980px;
$body-max-width: 1280px;
$main-menu-item-radius: 8px;
$pseudo-button-top: #efac3a;
$pseudo-button-bottom: #ff7e00;
$pseudo-button-shadow: 0 -1px 0 #fff, inset 0 -1px 0 #df6f01;
$benefits-gradient: top, #aede64 0, #429816 200px, #429816 202px, #fff 202px; /* remove from production */
$benefits-bg: #fff image-url("layout/benefits.bg.png") repeat-x 0 0;


/* ==========================================================================
   Общие стили
   ========================================================================== */
body {
	max-width: $body-max-width;
	margin: 0 auto;
	font: 14px/1.2857 "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: $main-bg-color;
}
.layout {
	margin: 0 auto;
	width: $layout-width;

}
/* Псевдо кнопки */
.pseudo-button {
	display: inline-block;
	padding: 4px 0 6px;
	min-width: 120px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.cssgradients .pseudo-button {
	background-image:-webkit-linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
	background-image:-moz-linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
	background-image:-ms-linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
	background-image:-o-linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
	background-image:linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
	&:hover {
		background-image:-webkit-linear-gradient(bottom, $pseudo-button-top 0, $pseudo-button-bottom 100%);
		background-image:-moz-linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
		background-image:-ms-linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
		background-image:-o-linear-gradient(top, $pseudo-button-top 0, $pseudo-button-bottom 100%);
		background-image:linear-gradient(bottom, $pseudo-button-top 0, $pseudo-button-bottom 100%);
	}
}
.borderradius .pseudo-button {
	-moz-border-radius: $main-menu-item-radius;
	-webkit-border-radius: $main-menu-item-radius;
	-o-border-radius: $main-menu-item-radius;
	border-radius: $main-menu-item-radius;
}
.boxshadow .pseudo-button {
	-moz-box-shadow: $pseudo-button-shadow;
	-webkit-box-shadow: $pseudo-button-shadow;
	-o-box-shadow: $pseudo-button-shadow;
	-ms-box-shadow: $pseudo-button-shadow;
	box-shadow: $pseudo-button-shadow;
}
.textshadow .pseudo-button {
	text-shadow: 0 1px rgba(0, 0, 0, .2)
}

/* ==========================================================================
   Верхний колонтитул
   ========================================================================== */
.header {
	height: 84px;
	background: $wrapper-bg-color;

	.brand {
		float: left;
		margin: 5px 0 0 32px;
		width: 123px;
		height: 75px;
		background: image-url("layout/logo.png") no-repeat 0 0;
	}
	.main-menu {
		float: left;
		.main-menu__layout {
			margin: 28px 0 0;
			padding: 0;

			.main-menu__layout-item {
				float: left;

				.main-menu__item {
					display: block;
					margin-left: 34px;
					padding: 2px 18px 4px;
					line-height: 18px;
					font-size: 16px;
					text-decoration: none;
					color: #666;
					border: 1px solid transparent;
					&:hover { border-color: #c6c6c6; }
				}
			}
		}
	}
	.account {
		float: right;
		.account-auth {
			float: left;
			margin: 26px 32px 0 0;
			padding: 0;
			list-style: none;
			.account-auth__layout-item {
				float: left;
				.account-auth__item {
					display: block;
					margin-left: 18px;
					line-height: 18px;
				}
			}
		}
	}
}
.borderradius .main-menu__item {
	-moz-border-radius: $main-menu-item-radius;
	-webkit-border-radius: $main-menu-item-radius;
	-o-border-radius: $main-menu-item-radius;
	border-radius: $main-menu-item-radius;
}

/* ==========================================================================
   Промо блок
   ========================================================================== */
.promo {
	margin: 0 auto;
	max-width: $body-max-width;
	min-width: $layout-width;
	height: 510px;
	.layout { position: relative; }
	/* Тени для текста промо блока */
	.promo__title,
	.promo__text { text-shadow: 0 1px rgba(0, 0, 0, .55); }
	.promo__title {
		margin: 142px 32px 12px;
		font-size: 25px;
		font-weight: normal;
		color: #fff;
	}
	.promo__text {
		margin: 0 32px;
		width: 450px;
		line-height: 22px;
		font-size: 18px;
		text-align: justify;
		color: #fff;
	}
	.promo__link { 
		margin: 18px 92px;
		font-size: 18px;
	}
	.promo__img {
		position: absolute;
		top: 74px;
		right: 4px;
		width: 525px;
		height: 472px;
		background: image-url("content/promo.imac.png") no-repeat 0 0;
	}
}
.promo_1 {
	background: image-url("content/promo.jpg") no-repeat 50% 0;
}

/* ==========================================================================
   Преимущества
   ========================================================================== */
.benefits {
	margin: 90px auto 0;
	padding: 0;
	list-style: none;
	color: #3f3f3f;
	
	.benefits__layout {
		position: relative;
		float: left;
		margin-left: 5px;
		padding-top: 200px;
		width: 320px;
		text-align: center;
	}
	.benefits__title {
		margin: 20px 0 10px;
		font-size: 22px;
		font-weight: normal;
	}
	p {
		margin: 4px;
	}
	.benefits__link {
		display: inline-block;
		margin: 20px 0;
		padding: 2px 8px 4px;
		font-size: 16px;
		text-decoration: none;
		color: #666;
		border: 1px solid #c6c6c6;
	}
	/* Общий стиль для обложек преимуществ */
	.benefits__cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 201px;
	}
	/* Обложки для каждого преимущества */
	.benefits__layout_effectively {
		.benefits__cover { background: image-url("layout/effectively.png") no-repeat 50% 50%; }
	}
	.benefits__layout_comfortably {
		.benefits__cover { background: image-url("layout/comfortably.png") no-repeat 50% 50%; }
	}
	.benefits__layout_profitably {
		.benefits__cover { background: image-url("layout/profitably.png") no-repeat 50% 50%; }
	}
	/* Стрелка под градиентом */
	.benefits__arrow {
		display: block;
		position: absolute;
		top: 201px;
		left: 50%;
		margin-left: -12px;
		width: 24px;
		height: 11px;
		background: image-url("layout/benefits.arrow.png") no-repeat 0 0;
	}
}
.cssgradients .benefits__layout {
	/*background-image:-webkit-linear-gradient($benefits-gradient);
	background-image:-moz-linear-gradient($benefits-gradient);
	background-image:-ms-linear-gradient($benefits-gradient);
	background-image:-o-linear-gradient($benefits-gradient);
	background-image:linear-gradient($benefits-gradient); */
	background: $benefits-bg;
}
.borderradius .benefits__link {
	-moz-border-radius: $main-menu-item-radius;
	-webkit-border-radius: $main-menu-item-radius;
	-o-border-radius: $main-menu-item-radius;
	border-radius: $main-menu-item-radius;

}

/* ==========================================================================
   Пройти тест :: главная
   ========================================================================== */
.go-to-test {
	margin: 50px 0;
	background: $wrapper-bg-color;
	color: #3f3f3f;

	.go-to-test__title,
	p { 
		width: 420px;
		text-align: right;
	}
	.go-to-test__title {
		margin: 103px 0 8px 127px;
		line-height: 25px;
		font-size: 25px;
		font-weight: normal;
	}
	p {
		margin: 0 0 0 127px;
		font-size: 18px;
		
	}
	.go-to-test__link {
		float: right;
		margin: 16px 190px 60px 0;
		font-size: 18px;
	}
	.layout {
		background: image-url("layout/test.png") no-repeat 640px 42px;
	}
}

/* ==========================================================================
   Партнёры и социальные сети
   ========================================================================== */
.meta {
	padding: 0 0 80px 90px;
	font-size: 18px;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	color: #3f3f3f;
	dl,
	dd { margin: 0; }
}
.partners {
	float: left;

	.partners__title {
		margin-bottom: 8px;
	}
	.partners__item {
		margin: 0 30px 0 0;
	}
}

/* ==========================================================================
   Нижний колонтитул
   ========================================================================== */
.footer {
	.copyright {
		line-height: 40px;
		font-size: 12px;
		background: #0c0c0c;
		color: #868686;
	}
}

/* ==========================================================================
   Вспомогательные классы
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible { visibility: hidden; }

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after { clear: both; }
.group { *zoom: 1; }